h2 {
  font-style: italic;
  color: darkred;
}

* {
  transition: all .5s ease-in-out !important;
  transform: rotate(-2deg);
  padding: 1rem;
}

#dogHeading {
  background-color: peru;
}

.main {
  &:hover {
    transform: scale(1.004) rotate(2deg);
  }

  & p {
    &:hover {
      transform: translate(-1rem) scale(1.22);
    }
  }

  & ul {
    &:hover {
      padding: 1.4rem;
    }

    & li {
      &:hover {
        transform: translateX(-1rem) !important;
      }
    }
  }
}
